numpy==1.24.2
matplotlib==3.7.1
pandas==1.5.3
python-dotenv==1.0.0
imbalanced-learn==0.10.0
librosa==1.0.0
wandb==0.14.0
jupyterlab==4.0.0
jupyterlab-server==2.0.0
jupyterlab-git==0.41.0
jupyterlab-lsp==4.0.0
jupyterlab-plotly==5.0.0
jupyterlab-toc==6.1.0
jupyterlab-templates==0.3.0
jupyterlab-system-monitor==0.8.0
jupyterlab-quickopen==0.8.0
jupyterlab-drawio==0.10.0
jupyterlab-kite==2.0.0
jupyterlab-omnisci==0.2.0
jupyterlab-vega==4.0.0
scikit-learn==1.7.1
requests==2.31.0
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.1
bokeh==3.2.1
plotly==5.3.1
seaborn==0.11.2
scipy==1.7.3
scikit-image==0.19.0
scikit-plot==0.3.7
scikit-surprise==1.1.1
scikit-multilearn==0.2.0
scikit-tda==0.0.1